{% extends "pages/sidebar.html" %}
{%block titleside%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
    crossorigin="anonymous">
<title>confirm family document</title>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill,  1fr);
        gap: 10px;
    }
    .grid-item {
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
    .show{
        padding: 10px; 
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 10px;
    }
    .first{
        padding: 10px; 
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    #data{
        padding: 10px;
    }
</style>
{%endblock titleside %}

{%block contentside %}
    <div class="container">
    <p>welcome {{person.person_name}}</p>
    <form method="POST" style=" padding: 10px; border: 1px solid #ccc;display: grid; grid-template-columns: repeat(2, 1fr);gap: 10px;" enctype="multipart/form-data">
        {%csrf_token%}
      
    <div class = "row">  
        <div class="first">
            <div id="data" class = "col-12">place_of_issue :  {{person.place_of_issue}} </div>
            <div id="data" class = "col-12">number_of_issue :  {{person.number_of_issue}} </div>
        </div>
        <div class="show" >
            <div id="data" class = "col-12 row-2"><div class = "row"> name  </div> <div class = "row"> national number </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> sur name </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> dads name </div> <div class = "row"> national number </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> moms name </div> <div class = "row"> national number </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> date and  </div> <div class = "row"> place birth </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> religion </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> gender </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> status </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> date issue </div> <div class = "row">   </div></div>
        </div>
        
        <div class="show">
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.first_name}} </div> <div class = "row">{{person.national_num}}</div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.last_name}} </div> <div class = "row"></div></div>
            <div id="data" class = "col-12 row-2">
            <div class = "row"> {{person.dad_name}}</div> <div id="data" class = "row">{{person.national_dad}}</div>
            </div>
            <div id="data" class = "col-12 row-2">
            <div class = "row"> {{person.mom_name}} </div> <div class = "row">{{person.national_mom}}</div>
            </div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.birth_place}}  </div><div class = "row">{{person.birth_date|date:"y-m-d"}} </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.religion}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.gender}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.status}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.date_of_issue}} </div><div class = "row"></div></div>  
            
        </div>
    </div>
</form>
<div >image <img src="{{ person.image.url }}" alt="Person Image"></div> 
</div>
<a  style="margin: 1%;" href="{% url 'insert_task' %}" class="btn btn-primary">get {{task}}</a>
{%endblock contentside %}

