<!DOCTYPE html>
<html lang="en">

    {% load i18n %}

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/paymentstyle.css' %}">
    <title>{% trans "Enter Payment Amount"%}</title>
</head>

<body>
    <div class="container">
        <h1>{% trans "Enter Payment Amount"%}</h1>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="payment-item">
                <input type="text" name="transaction_id" style ="margin:10px;" placeholder="{% trans 'Enter transaction id'%}" required>
                <input type="number" name="amount" style ="margin:10px;" placeholder="{% trans 'Enter Amount'%}" required>
            </div>
            <button type="submit">{% trans "Save Payments"%}</button>
        </form>
    </div>
</body>

</html>