{% extends "registering/base.html" %}
{% load static %}

{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title text-center">Password Reset Instructions Sent</h5>
            <p>An email has been sent with instructions to reset your password.</p>
            <p class="text-center">
                <a href="{% url 'account_login' %}" class="btn btn-primary">Log In</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}