{% extends "pages/sidebar.html" %}
{% load i18n %}
{%block titleside%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    rel="stylesheet"
	        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	        crossorigin="anonymous">
    <title> {{task_name}}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .grid-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, 1fr);
            gap: 10px;
        }
        .grid-item {
            background-color: #f0f0f0;
            padding: 10px;
            border: 1px solid #ccc;
            text-align: center;
        }
        .show{
            padding: 10px;
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            align-items: center;
        }
        .image_show{
            padding: 10px;
            border: 1px solid #ccc;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 10px;
            align-items: center;
        }
    </style>
{% endblock titleside%}
{% block contentside %}
    {{error}}
    <div class="column" style="width: 100%;">
    <form method="POST"  enctype="multipart/form-data">
            <p>{% trans "welcome"%} {{person_name}}</p>
            <div class = "column" >
                <div class="show">
                    {%csrf_token%}
                    <div class = "col-6">{% trans "national id for the dead"%}  : </div><div class = "col-6">{{died.national_num}}</div>
                    <div class = "col-6">{% trans "date of the death"%} : </div><div class = "col-6"> {{died.date_of_event}}</div>
                    <div class = "col-6">{% trans "place of the death"%} : </div><div class = "col-6">{{died.place_of_event}}</div>
                    {% if not died.image.url %}
                    <div class = "col-6">{% trans "image"%} : </div><div class = "col-6"> {{died.image}}</div>
                    {% endif %}
                </div>
                <input type="submit" value="save">
            </div>
        </form>
        <div  class="image_show">
            {% if died.image.url %}
            <div><img src="{{ died.image.url }}" alt="صورة المستخدم"></div>
            {% endif %}
        </div>

        {% if error ==  'please assert a person first' %}
        <div>
            <a href="{% url 'users:died_person_record'%}"><button>{% trans "insert dead person"%}</button>  </a>
        </div>
        {% endif %}
        <button onclick="goBack()">{% trans "Cancel"%}</button>
    </div>
<script>

        function goBack() {
            window.history.back();
        }
        </script>
{% endblock contentside%}





