{% extends "pages/sidebar.html" %}
{% load i18n %}
{%block titleside%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
    crossorigin="anonymous">
<title>{{task_name}}</title>
<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill,  1fr);
        gap: 10px;
    }
    .grid-item {
        background-color: #f0f0f0;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
    }
    .show{
        padding: 10px;
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: repeat(9, 1fr);
    }
    .first{
        padding: 10px;
        border: 1px solid #ccc;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }#dataf{
        width :100%;
        border:1px solid #000;
        padding :10px;
    }
    #datan{
        width :15vw;
        border:1px solid #000;
        padding :10px;
    }
    #data{
        width :8vw;
        border:1px solid #000;
        padding :10px;
    }

    #dataf *{
        margin:10px;
    }

    #datan *{
        margin:10px;
    }

    #data *{
        margin:10px;
    }

</style>
{%endblock titleside %}

{%block contentside %}
    <div class="column ">
    <p>{% trans "welcome"%} {{person.person_name}}</p>
    <form method="POST" style=" overflow :auto;  max-width:100%; width:95%;  padding: 10px; border: 1px solid #ccc;display: grid; grid-template-columns: repeat(1, 1fr);gap: 10px;" enctype="multipart/form-data">
        {%csrf_token%}

    <div class = "column">
        <div class="first">
            <div id="dataf" class = "col-12">{% trans "place of issue"%} :  {{person.place_of_issue}} </div>
            <div id="dataf" class = "col-12">{% trans "number of issue"%} :  {{person.number_of_issue}} </div>
        </div>
        <div class="show" >
            <div id="datan" class = "col-12 row-2"><div class = "row"> {% trans "name"%}  </div> <div class = "row"> {% trans "national number"%} </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "sur name"%} </div> <div class = "row">  </div></div>
            <div id="datan" class = "col-12 row-2"><div class = "row"> {% trans "dad name"%} </div> <div class = "row"> {% trans "national number"%} </div></div>
            <div id="datan" class = "col-12 row-2"><div class = "row"> {% trans "mom name"%} </div> <div class = "row"> {% trans "national number"%} </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "date and"%}  </div> <div class = "row"> {% trans "place birth"%} </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "religion"%} </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "gender"%} </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "status"%} </div> <div class = "row">  </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {% trans "date issue"%} </div> <div class = "row">   </div></div>
        </div>

        {% for person in family %}
        <div class="show">
            <div id="datan" class = "col-12 row-2"><div class = "row"> {{person.first_name}} </div> <div class = "row">{{person.national_num}}</div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.last_name}} </div> <div class = "row"></div></div>
            <div id="datan" class = "col-12 row-2"><div class = "row"> {{person.dad_name}}</div> <div  class = "row">{{person.national_dad}}</div></div>
            <div id="datan" class = "col-12 row-2"><div class = "row"> {{person.mom_name}} </div> <div class = "row">{{person.national_mom}}</div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.birth_place}}  </div><div class = "row">{{person.birth_date|date:"y-m-d"}} </div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.religion}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.gender}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.status}} </div><div class = "row"></div></div>
            <div id="data" class = "col-12 row-2"><div class = "row"> {{person.date_of_issue}} </div><div class = "row"></div></div>
        </div>
        {% endfor %}
    </div>
</form>
<div >
{% if employee.is_employee %}
<a  style="margin: 1%;" href="{% url 'documents:refuse_with_note' %}" class="btn btn-primary">{% trans "refuse with note"%}</a>
<button style="margin: 1%;" onclick="donePage()"> {{task_name}} {% trans "is done"%}</button>
<button style="margin: 1%;" onclick="printPage()">{% trans "print" %}{{task_name}}</button>
{% else %}
<a  style="margin: 1%;" href="{% url 'documents:insert_task' %}" class="btn btn-primary">{% trans "get"%} {{task_name}}</a>
{% endif %}
<button onclick="goBack()">{% trans "Cancel"%}</button>
</div>
</div>
<script>

    function goBack() {
        window.history.back();
    }

    function printPage() {
    window.print();
    }

    function donePage(){
        window.location.href = `done_task`;
    }
</script>
{%endblock contentside %}

